# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
      { 'label': 'Enable gitignore-snippets', 'command': 'gitignore-snippets:toggle' }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'gitignore-snippets'
      'submenu': [
        { 'label': 'Toggle', 'command': 'gitignore-snippets:toggle' }
      ]
    ]
  }
]
